.header-container {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}
.header-container nav .hamburger-menu{
    display: none;
}

.logoImg {
    height: 35px;
    width: 35px;
}

.custom-svg {
    width: 2rem;
    height: 2rem;
    color: black;
    cursor: pointer;
}

.header-container nav {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    cursor: pointer;
}

.header-container nav div h1 {
    letter-spacing: 1px;
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.header-container nav div span {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'SimplonNorm', Arial, sans-serif;
    font-weight: 700;
}

.options-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    letter-spacing: 1px;
    list-style-type: none;
    gap: 100px;
}

.options-nav ul li {
    cursor: pointer;
    font-family: 'SimplonNorm', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #252020;
}

@media (max-width: 768px) {
    .header-container{
        height: 55px;
    }
    .logoImg{
        height: 20px;
        width: 20px;
    }
    .header-container nav div h1{
        font-size: 20px;
    }
    .header-container nav .icons-div .header-icons{
        font-size: 20px;
    }
    .header-container nav .icons-div span{
        display: none;
    }
    .options-nav{
        display: none;
    }
    .menu-icon{
        padding: 0 10px 0 10px;
    }
    .header-container nav {
        padding-left: 5px;
        padding-right: 5px;
    }
}


.mobile-sidebar {
    position: fixed;
    top: 0;
    left: -300px; 
    height: 100%;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding: 1rem;
}


  .mobile-sidebar.open {
      left: 0;
    }
  
    .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar-menu li:hover {
    color: #0070f3;
}

.menu-icon {
    display: block; 
    cursor: pointer;
}

.search-container {
  position: relative;
}

.search-input {
  position: absolute;
  top: -10;
  right: 30;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .options-nav {
        display: none; 
    }
    .search-input {
        position: absolute;
        top: 45;
        right: -70;
        
        height: 30px;
      }
  }
  
  @media screen and (min-width: 769px) {
    .mobile-sidebar {
      display: none; 
    }
    .menu-icon {
        display: none; 
      }
  }